@import '/src/themes/themes.scss';


.nav {
        .nav-link{
            color: $blackish-color;
            font-weight: bold;
            font-size: $font-size18;
        }

        .nav-link.active {
            color: $primary-color !important;
            font-weight: bold;
        }
    }

    .btn{
        background-color: $primary-color;
        color: $secondary-color;
        border-color: $primary-color;
    }