<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentions Légales</title>
</head>
<body>
    <div class="mentions-legales">
        <img src="assets/images/Header_mercadona.jpg" class="img-contact" [routerLink]="['']" style = "width:100%" alt="header_mercadona" title="header de l'entreprise">

        <h1>Mentions Légales</h1>
        <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : sitify.fr les informations suivantes

        <h3>1. Informations légales :</h3>
            
        <p>Nom de la Société : Mercadona</p>
            
        <p>SIRET :    111 111 111 00011</p>
            
        <p>Adresse de courrier électronique : contact@mercadona.fr</p>
            
        <p>Contactez le responsable de la publication : webdesigner@mercadona.fr</p>
            
        <h3> 2. Description des services fournis :</h3>
            
        <p>Le site mercadona.fr a pour objet de fournir une information concernant l’ensemble des activités de la société.</p>
            
        <p>Le propriétaire du site s’efforce de fournir sur le site mercadona.fr des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>
            
        <p>Tous les informations proposées sur le site mercadona.fr sont données à titre indicatif, sont non exhaustives, et sont susceptibles d’évoluer. Elles sont données sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>
            
        <h3>3. Propriété intellectuelle et contrefaçons :</h3>
            
        <p>Le propriétaire du site est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels…</p>
            
        <p>Toute reproduction, représentation, modification, publication, adaptation totale ou partielle des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable à l’email : contact@mercadona.fr .</p>
            
        <p>Toute exploitation non autorisée du site ou de l’un quelconque de ces éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>

    </div>
</body>
</html>
<app-footer></app-footer>

<router-outlet></router-outlet>

