

<app-header></app-header>
<body>
  <div class="product-container">
    <img src="assets/images/header/mercadonapromo.jpg" class="img-contact" [routerLink]="['/']" style = "width:100%" alt="header_mercadona" title="header de l'entreprise">
        <div class="album py-5 bg-body-tertiary">
          <div class="container">   
            <!--FILTRE-->
            <div class="text-center">
              <button (click)="afficherProduitsMaison()" class="btn btn-success bouton-personnalise">Maison</button>
              <button (click)="afficherProduitsCosmetique()" class="btn btn-success bouton-personnalise">Cosmétique</button>
              <button (click)="afficherProduitsAliementaire()" class="btn btn-success bouton-personnalise">Alimentaire</button>
              <button (click)="afficherProduits()" class="btn btn-success bouton-personnalise">Tous les produits</button>
            </div>
            
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              
                <div class="col" *ngFor="let products of productsFilter">
                
                  <div class="card shadow-sm">
                    <img type="file" th:src="@{'/' + ${product.imagePath}}" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Image du produit" accept="image/png, image/jpg">
                      <div class="card-body">
                        <h1 class="card-text">{{ products.nom }}</h1>
                        <p class="card-text">{{ products.description }}</p>
                        <h4>Prix : {{ products.prix }} € </h4>
                        <h4 class="text-danger"style="font-weight: bold;">Prix remisé : {{ (products.prix - products.prix * products.promotion / 100).toFixed(2) }} €</h4> 
                        <h6>date limite : {{ products.expirationDate }} </h6>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>

<app-footer></app-footer>
<router-outlet></router-outlet>
