<app-header></app-header>
<div class="product-container">
        <img src="assets/images/Header_mercadona.jpg" class="img-contact" [routerLink]="['']" style = "width:100%" alt="header_mercadona" title="header de l'entreprise">
    <div class="product-header-section">
        <h1 class="title">Nos Promotions : </h1>
        <p class="product-description">Profitez des promotions exclusives en cours et économisez sur vos achats préférés. <br>Ne ratez pas cette occasion de faire de bonnes affaires !</p>
        <p class="product-description">Pour y acceder cliquer sur un des boutons ci-dessous :</p>
        <br>
        <img src="assets/images/main.png" class="main" alt="main" width="100px">


    </div>

    <div>
        <button class="category-button"(click)="getProductsByCategorie('Alimentation')">Alimentation</button>
        <button class="category-button" (click)="getProductsByCategorie('Cosmétique')">Cosmétique</button>
        <button class="category-button" (click)="getProductsByCategorie('Maison')">Maison</button>
      </div>
</div>
<div class="product-container">
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col" *ngFor="let product of products">
            <div class="card shadow-sm">
              <img [src]="product.photoUrl" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Product Image">
              <div class="card-body">
                <h1 class="card-text">{{ product.nom }}</h1>
                <p class="card-text">{{ product.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <h4>Prix : {{ product.prix }} €</h4>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <h3 class="success">Promotion : {{ product.promo }} €</h3>
                    </div>
                    <small class="text-body-secondary">Date limite : {{ product.expirationDate }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<app-footer></app-footer>
