@import '/src/themes/themes.scss';

.product-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        cursor:pointer;
    }


    .product-header-section{
        text-align: center;
        width: 70%;
        .title, h2{
            color:$primary-color ;
            text-align: center;
            font-weight: bold;
            padding-top: $secondary-padding;
            padding-bottom: $secondary-padding;
        }
        .product-description{
            font-size: $font-size22;
            color: $blackish-color;
            font-weight: bold;
      
        }
        .category-section{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            column-gap: $secondary-padding;
            padding-bottom: $secondary-padding;
        }

    }
}

  
