@import '/src/themes/themes.scss';

.product-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        cursor:pointer;
    }


    .product-header-section{
        text-align: center;
        width: 70%;
        .title, h2{
            color:$primary-color ;
            text-align: center;
            font-weight: bold;
            padding-top: $secondary-padding;
            padding-bottom: $secondary-padding;
        }
        .product-description{
            font-size: $font-size22;
            color: $blackish-color;
            font-weight: bold;
      
        }
        .category-section{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            column-gap: $secondary-padding;
            padding-bottom: $secondary-padding;
        }

    }
}

.category-button {
    padding: $main-padding $secondary-padding;
    background: $white-color;
    width: fit-content;
    color: $blackish-color;
    border: 1px solid $secondary-color;
    box-shadow: $box-shadow;
    font-size: 20px;
    margin-right: 25px;

    &:hover{
        cursor: pointer;
        border-color: $primary-color;
        color: $primary-color;
        transform: translateY(5px);
        transition: 1s all;
}
}

/* Ajoutez ces styles pour l'alerte RGPD */
.rgpd-alert {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff; /* Couleur du texte blanc */
    text-align: center; /* Centrage du texte */
    z-index: 1000;
  }

  .alert{
    background-color: green; /* Couleur de fond verte */
    color: #fff; /* Couleur du texte blanc */
  }
  

