//colors
$primary-color:#219E6B;
$secondary-color:#F5F5F5;
$blackish-color:#141616;
$greyish-color:#646867;
$white-color:#ffffff;

//Font size
$font-size54:45px;
$font-size16:16px;
$font-size18:18px;
$font-size20:20px;
$font-size22:22px;
$font-size30:30px;


//spacing
$main-padding : 16px;
$secondary-padding: 25px;
$zero-padding:0px;


//box shadow
$box-shadow : 0px 4px 16px 0 rgb(20 20 22/4%);
