<app-header></app-header>
<body>
    <div class="contact-container">
        <img src="assets/images/header-3.jpg" class="img-contact" [routerLink]="['']" style = "width:100%" alt="header_mercadona" title="header de l'entreprise">
                    <div class="contact-section modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
                        <div class="modal-dialog" role="document"></div>
                            <div class="modal-content rounded-4 shadow">                               
                                <h1>Contactez-nous</h1>                                
                                    <div class="modal-body p-5 pt-0">

                                        <form action="https://formsubmit.co/svercoutter@gmail.com" method="POST">
                                            <div class="form-floating mb-3 w-100">
                                                <input type="text" class="form-control rounded-3" name="name" placeholder="name" required>
                                                <label for="message">Nom et Prénom :  </label>
                                            </div>

                                            <div class="form-floating mb-3 w-100 ">
                                                <input type="email" class="form-control rounded-3" name="email" placeholder="Email Adress" required>
                                                <label for="floatingInput">Email :  </label>
                                                <input type="hidden" name="_next" value="http://localhost:4200/email-envoye">
                                                <input type="hidden" name="_captcha" value="false">
                                            </div>

                                            <div class="form-floating mb-3 w-100 " id="Message">
                                                <textarea type="text" class="Message form-control rounded-3" name="message" placeholder="text" required></textarea>
                                                <label for="floatingInput">Message :  </label>
                                            </div>
                                            <button class=" mb-2 btn btn-lg rounded-3 btn-success" type="submit">Envoyer</button>
                                      </form>
                                    </div>
                            </div>
                        </div>
                    </div>
</body>

<app-footer></app-footer>

<router-outlet></router-outlet>
