<app-header></app-header>
<body>
    <div class="contact-container">
        <img src="assets/images/header-3.jpg" class="img-contact" [routerLink]="['']" style = "width:100%" alt="header_mercadona" title="header de l'entreprise">
                    <div class="contact-section modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
                        <div class="modal-dialog" role="document"></div>
                            <div class="modal-content rounded-4 shadow">                               
                                <h1>Contactez-nous</h1>                                
                                    <div class="modal-body p-5 pt-0">

                                        <form class="form-contact" action="traiter_formulaire.php" method="post">
                                            <div class="form-floating mb-3 w-100">
                                                <input type="text" class="form-control rounded-3" id="nom" placeholder="nom" required>
                                                <label for="message">Nom et Prénom :  </label>
                                            </div>

                                            <div class="form-floating mb-3 w-100 ">
                                                <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com" required>
                                                <label for="floatingInput">Email :  </label>
                                            </div>

                                            <div class="form-floating mb-3 w-100 " id="Message">
                                                <textarea type="message" class="Message form-control rounded-3" id="message" placeholder="text" required></textarea>
                                                <label for="floatingInput">Message :  </label>
                                            </div>
                                        
                                            <button class=" mb-2 btn btn-lg rounded-3 btn-success" type="submit">Envoyer</button>
                                        
                                        
                                        </form>
                                    </div>
                            </div>
                        </div>
                    </div>
</body>

<app-footer></app-footer>

<router-outlet></router-outlet>
