@import '/src/themes/themes.scss';

.product-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        cursor:pointer;
    }


    .product-header-section{
        text-align: center;
        width: 70%;
        h1{
            color:$primary-color ;
            text-align: center;
            font-weight: bold;
            padding-top: $secondary-padding;
            padding-bottom: $secondary-padding;
            font-size: $font-size22;
        }

    }
}

button{
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;
    font-weight: bold;
}
